html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@keyframes color {
    0% {
        background: #e0e1dd;
    }

    20% {
        background: #bbd0ff;
    }

    40% {
        background: #b8c0ff;
    }

    60% {
        background: #b8c0ff;
    }

    80% {
        background: #bbd0ff;
    }

    100% {
        background: #e0e1dd;
    }
}

body {
    background: #e0e1dd; /* Fallback */
    animation: color 9s infinite linear;
    padding: 2em;
}